NEXT_PUBLIC_LOOPS_FORM_ID=your_loops_form_id_here
LOOPS_API_KEY=your_loops_api_key_here
LOOPS_PACK_LIST_ID=your_loops_pack_list_id_here
NEXT_PUBLIC_LEMONSQUEEZY_CHECKOUT_URL=https://productcopilot.lemonsqueezy.com
